* {
  border: 0px solid red;
}

html, body {
  font-family: 'Roboto', arial;
  font-size: large;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav {
  background-color: #1f2937;
  color: white;
  font-size: 24px;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > * {
  padding: 1%;
  color: white;
}

nav > .logo {
  font-weight: bold;
  margin-right: auto;
}

nav > a {
  font-weight: lighter;
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

#hero-box {
  background-color: #1f2937;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 520px;
}

#hero-box > * {
  padding: 10px;
}

#hero-box > .text > .main {
  font-weight: bold;
  font-size: 48px;
}

#hero-box > .text > p {
  font-weight: lighter;
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  font-weight: lighter;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border: 1px solid #3882f6;
  background: #3882f6;
  width: 100px;
  height: 40px;
}

#hero-box > .img > img {
  max-width: 375px;
  object-fit: cover;
}

#information-box {
  padding: 20px;
}

#information-box > .main {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
  padding: 20px;
}

.galery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  padding: 10px;
}

.galery > .content > img {
  width: 200px;
  height: 200px;
  border: 2px solid #1f2937;
  border-radius: 10px;
  object-fit: cover;
}

.galery > .content > .subtext {
  text-align: center;
}

#quote-box {
  background-color: #e5e7eb;
  padding-left: 17.5%;
  padding-right: 17.5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.quote-text {
  font-size: 32px;
  font-weight: lighter;
  color: #1f2937;
  font-style: italic;
}

.quote-name {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

#sign-box {}

#footer {
  background-color: #1f2937;
  color: white;
}